
header{
    position: relative;
    margin: 0;
    max-width: 100%;
    max-height: 100%;
    background-color: #f6f5ef;
    padding-top: 10px;
    border-top: 3px solid black;
    padding-top: 1em;
    padding-bottom: 1em;
}
.logo {
    background: url("https://www.starbucks.co.kr/common/img/common/logo.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    position: absolute;
    top:30px;
    left: 30px; 
    /* 이미지 크기를 어떻게 확장시킬까? */
}
.header_1{ 
    /* float: right;  float랑 justify-content: end차이?*/
    justify-content: end;
    display: flex;
    height: 40px;
    list-style: none;
    font: normal 16px Arial, georgia;
    margin-right: 30px;
    padding: 1em;
}
.header_1 li{
    padding-right: 1.5em;
} 
.header_1 li:hover{
    text-decoration: underline;
    cursor: pointer;
}
.search{
    background: white;
    border-color: lightgray;
    border-radius: 5px;
    height: 30px;
    margin-top: -10px;
    margin-left: -10px;

}
.header_2{
    display: flex;
    justify-content: end;
    /* float: right; */
    width: 100%;
    height: 40px;
    list-style: none;
    font: normal 20px Arial, georgia;
    padding: 1em;

}
.header_2 li{
    /* float: right; */
    padding-right: 1.5em;
} 
.header_2 li:hover{
    cursor: pointer;
    text-decoration: underline;
}

.yellow{
    width: 100%;
    height: 700px;
    background: url('https://image.istarbucks.co.kr/upload/common/img/main/2022/2022_Summer1_main_bg.jpg');
    display: flex;
    justify-content: center;
}

.find_text img{
    display: block;
    /* margin-top: 50px; 
    왜 yellow 전체가 움질일까? */
    padding: 3em;

}
.find_text button{
    background: none;
    margin-left: 100px;
    color: #d73a7a;
    border: #d73a7a 3px solid;
    border-radius: 7px;
    width: 200px;
    height: 50px;
}
.coffees{
    margin-left: 200px;
}
.rollin{
    margin-top: -300px;
    margin-left: 350px;
}
.punch_img{
    margin-top: -250px;
    margin-left: 420px;
    width: 260px;
    height: 400px; 
}
.punch_text{
    margin-top: -250px;
    margin-left: 150px;
    width: 340px;
    height: 400px; 
}
.pomelo{
    margin-top: -640px;
    margin-left: 850px;
    width: 400px;
    height: 500px; 
}